<nav class="navbar navbar-default">
	<div class="navbar-header">
		<!-- bottone "hamburger"che apre il menu mobile -->
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
		data-target="#navbar" aria-expanded="false"
		 aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
 
		<!--<a class="navbar-brand">Vendite  e Affitti</a>-->
	</div>

	<div id="navbar" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="principale">
				<a open-page="vendite">Principale</a>
			</li>
			<li class="sezione1">
				<a open-page="affitti">Sezione 1</a></li>
			<li class="nuovi-annunci">
				<a open-page="nuovi-annunci">Nuovi Annunci</a>
			</li>
			<li class="in-vetrina">
				<a open-page="sezione2">Sezione 2</a>
			</li>
			<li class="faq">
				<a open-page="faq">FAQ</a>
			</li>
			<li class="news">
				<a open-page="news">News</a>
			</li>
			<li class="dropdown visible-xs-block">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						Portale Istituzionale FS 
						<span class="caret"></span>
					</a>
				<ul class="dropdown-menu">
					<li><a>Home FS</a></li>
					<li><a>Ferservizi</a></li>
					<li><a>Il Gruppo</a></li>
					<li><a>FS News</a></li>
					<li><a>Lavora con noi</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>