.vendite-ricerca select {
  font-size: .9em;
  height: 20px;
  line-height: 0;
  padding: 0;
  margin-bottom: 8px;
  background-color: #f0f0f0;
}
.vendite-ricerca select.valorizzato {
  color: #016967;
  font-weight: bold;
  background-color: white;
}
.vendite-ricerca select option.dyn {
  font-weight: bold;
  color: #333;
}
.vendite-ricerca .mappa-italia-row {
  padding-left: 50%;
  width: 100%;
  text-align: center;
  margin-top: 8px;
}
.vendite-ricerca .mappa-italia-container {
  text-align: center;
  margin-top: 8px;
  margin-left: -110px;
  width: 220px;
  /*position: relative;*/
  height: 275px;
}
.vendite-ricerca .num-risultati {
  font-size: .85em;
}
.vendite-ricerca .salva-ricerca {
  display: none;
}
.vendite-ricerca .panel-footer button {
  float: right;
  margin-left: 12px;
}
