<div class="vendite-ricerca" style="width:100%">


	<h2 style="width: 100%">
		<div class="label label-primary" style="width: 100%; display:block">RICERCA</div>
	</h2>

	<div class="panel panel-primary pannello-criteri">
		<!--<div class="panel-heading" style="overflow:hidden">
			<span style="float:left">Ricerca</span>
			<span style="float:right" class="glyphicon glyphicon-eye-open"></span>
		</div>-->
		<div class="panel-body fade-top-down-ligth">

			<div class="fg-green">Seleziona una regione o utilizza i campi di ricerca per selezionare un immobile</div>
			<div class="mappa-italia-row">
				<div class="mappa-italia-container">
				</div>
			</div>
			<div class="form-group" style="text-align:center;">
				<div style="text-align:center;margin-bottom:4px">
					<label class="checkbox-inline"><input type="checkbox" value="" class="check-vendite">Vendite</label>
					<label class="checkbox-inline"><input type="checkbox" value="" class="check-affitti">Affitti</label>
					<label class="checkbox-inline"><input type="checkbox" value="" class="check-novita">Novità</label>
					<label class="checkbox-inline"><input type="checkbox" value="" class="check-vetrina">Vetrina</label>
				</div>
				<select class="form-control regione">
					<option selected value="">Regione...</option>
				</select>
				<select class="form-control provincia">
					<option selected value="">Provincia...</option>
				</select>
				<select class="form-control comune">
					<option selected value="">Comune...</option>
				</select>
				<select class="form-control tipo-immobile">
					<option selected value="">Tipo Immobile...</option>
				</select>
				<select class="form-control fascia-prezzo">
					<option selected value="">Prezzo Immobile...</option>
				</select>
				<select class="form-control fascia-canone">
					<option selected value="">Canone di locazione...</option>
				</select>
				<select class="form-control fascia-metri-quadri">
					<option selected value="">Metratura...</option>
				</select>
			</div>
			<div class="num-risultati"></div>
		</div>

		<div class="panel-footer" style="overflow:hidden">
			<button type="button" class="btn btn-primary cerca">Cerca</button>
			<button type="button" class="btn btn-danger  salva-ricerca">Salva Ricerca</button>
		</div>
	</div>
</div>
