<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script>
		var query = (location.href+'?').split('?')[1];
		var params = {};
		query.split('&').map(x=>x.split('=')).forEach(x=>{
			params[unescape(x[0])] = unescape(x[1]);
		})

		if (params.q)
			alert(atob(params.q));
	</script>
</head>
<body>
	Addio per sempre
</body>
</html>