<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script>
		var query = (location.href+'?').split('?')[1];
		var params = {};
		query.split('&').map(x=>x.split('=')).forEach(x=>{
			params[unescape(x[0])] = unescape(x[1]);
		})

		if (params.q) {
			var paramObj=null;
			try { paramObj = JSON.parse(atob(params.q));}catch(e){};
			if (paramObj && paramObj.cb) {
				setTimeout(function(){
					location.href = paramObj.cb;
				}, 3000);
			}
		}

	</script>
</head>
<body>
	Addio per sempre
</body>
</html>