
.home .divback {
	float: right;
}

.home .divnext {
	float: right;
}

.home .big-button {
	position: absolute;
	top: 42px;
	width: 469.477px;
	height: 241.488px;
}


.home .restable {
	width: 100%;
	position: relative;
}


.home .tab-checkin {
  height: 45;
}

.home .help {
	color:white;
}

