<!-- per ora è invisibile -->
<h6 class="link-esterni hidden-xs">
		<a href="https://www.eng.it"><label class="label label-default">Home</label></a>
		<a href="https://www.eng.it"><label class="label label-default">Engineering</label></a>
		<a href="https://www.eng.it"><label class="label label-default">Corporate</label></a>
		<a href="https://www.eng.it"><label class="label label-default">Carca lavoro</label></a>
		<a href="https://www.eng.it"><label class="label label-default">Contatti</label></a>
</h6>
