.box-annuncio {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(1, 105, 103, 0.1));
  height: 200px;
  font-size: 1em;
  margin-bottom: 20px;
  position: relative;
}
.box-annuncio .prima-riga {
  width: 100%;
  height: 24px;
  font-weight: bold;
  padding-bottom: 0px;
  overflow: hidden;
  font-size: 1.25em;
}
.box-annuncio .prima-riga .lente {
  color: #016967;
  background-color: #fff;
  float: right;
  margin-left: 20px;
  height: 100%;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.box-annuncio .prima-riga .lente:hover {
  background-color: #016967;
  color: #fff;
}
.box-annuncio .prima-riga .comune {
  float: left;
  margin-left: 10px;
  font-weight: bold;
}
.box-annuncio .prima-riga .provincia {
  float: right;
  margin-right: 10px;
  font-weight: normal;
}
.box-annuncio .foto {
  float: left;
  width: 34%;
  height: 174px;
  text-align: center;
  vertical-align: top;
  position: relative;
}
.box-annuncio .foto .fotobox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-annuncio .foto .bottone {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 33%;
  top: 0;
  color: white;
  z-index: 10;
  font-size: 40px;
  opacity: .2;
}
.box-annuncio .foto .bottone > div {
  display: table-cell;
  vertical-align: middle;
}
.box-annuncio .foto .bottone.sinistro {
  left: 0;
}
.box-annuncio .foto .bottone.destro {
  right: 0;
}
.box-annuncio .foto .bottone:hover {
  opacity: 1;
}
.xs-portrait .box-annuncio .foto {
  height: 149px;
}
.box-annuncio .desc {
  float: right;
  width: 65%;
  height: 149px;
}
.xs-portrait .box-annuncio .desc {
  margin-right: 0px;
  height: 120px;
}
.box-annuncio .desc .testo {
  padding: 12px;
  width: 100%;
  height: 144px;
  overflow: auto;
}
.box-annuncio .tab {
  float: right;
  margin-right: 0px;
  width: 65%;
  height: 25px;
  overflow: hidden;
  vertical-align: bottom;
  /* background-color:rgba(255,0,0,.3); */
}
.box-annuncio .tab div {
  height: 25px;
  float: left;
  text-align: center;
  font-size: .85em;
}
.xs-portrait .box-annuncio .tab {
  width: 100%;
}
.box-annuncio .tab .importo {
  color: #ffffff;
  text-align: center;
  font-size: 1.25em;
}
.xs-portrait .box-annuncio .tab .importo {
  font-size: 1em;
}
.box-annuncio .tab .metriquadri {
  font-weight: bold;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  text-align: center;
  font-size: 1.25em;
  background-color: #ffffff;
}
.xs-portrait .box-annuncio .tab .metriquadri {
  font-size: 1em;
}
.lista-annunci.wait-container {
  min-height: 100px;
}
.box-annuncio-in-scadenza {
  display: none;
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  border-top: 1px solid rgba(1, 105, 103, 0.15);
  background: linear-gradient(rgba(1, 105, 103, 0.1), rgba(1, 105, 103, 0.02), rgba(1, 105, 103, 0.02));
  color: #db0030;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.box-annuncio-in-scadenza.acceso {
  display: block;
}
.la-sortable .bottone-sort {
  float: right;
  margin-right: 5px;
  margin-top: 3px;
  font-weight: normal;
  font-size: .8em;
  margin-top: 2px;
  cursor: pointer;
  opacity: .2;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 1px;
  display: none;
}
.la-sortable .bottone-sort:hover {
  opacity: .4;
  border-color: initial;
}
.la-sortable.la-sort-none .bottone-asc {
  display: inline;
}
.la-sortable.la-sort-importo-asc .bottone-importo.bottone-asc {
  display: inline;
  opacity: 1;
}
.la-sortable.la-sort-importo-asc .bottone-mq.bottone-asc {
  display: inline;
}
.la-sortable.la-sort-importo-desc .bottone-importo.bottone-desc {
  display: inline;
  opacity: 1;
}
.la-sortable.la-sort-importo-desc .bottone-mq.bottone-asc {
  display: inline;
}
.la-sortable.la-sort-mq-asc .bottone-mq.bottone-asc {
  display: inline;
  opacity: 1;
}
.la-sortable.la-sort-mq-asc .bottone-importo.bottone-asc {
  display: inline;
}
.la-sortable.la-sort-mq-desc .bottone-mq.bottone-desc {
  display: inline;
  opacity: 1;
}
.la-sortable.la-sort-mq-desc .bottone-importo.bottone-asc {
  display: inline;
}
