<div>
	<div class="box-annuncio-in-scadenza">
	</div>
	<div class="box-annuncio">
		<!--prima riga, provincia e comune-->
		<div class="prima-riga">
			<span class="comune"></span>
			<a><span class="glyphicon glyphicon-search lente" title="vedi dettaglio" ></span></a>
			<span style="float:right;margin-right:10px"  class="provincia"></span>
		</div>

		<!--secona riga: foto e descrizione-->
		<div class="foto">
			<div class="fotobox">
				<img/>
			</div>
			<div class="bottone sinistro">
				<div class="glyphicon glyphicon-circle-arrow-left"></div>
			</div>
			<div class="bottone destro">
				<div class="glyphicon glyphicon-circle-arrow-right"></div>
			</div>
		</div>
		<div class="desc">
			<div class="testo">
				<div class="inner">
				</div>
			</div>
		</div>
		<div class="tab">
			<!--<div style="width:100%;padding:0 2px;color:red;font-weight:bold;text-align:right">
				<a href="#" class='link-dettaglio'>VEDI DETTAGLIO</a>
			</div>-->
			<!--<div style="width:22%;padding:0 2px">MIa003</div>
			<div style="width:22%;padding:0 2px">IN GARA</div>-->
			<div class="riferimento" style="width:44%;padding: 11px 2px 0 2px;">
				rif: <span class="fg-verde codice" style="font-weight: bold"/>
			</div>
			<div class="metriquadri bordo-verde fg-verde" style="width:28%;">
				<span class="testo"/>
				<span class="bottone-sort bottone-mq bottone-asc glyphicon glyphicon-sort-by-attributes"/>
				<span class="bottone-sort bottone-mq bottone-desc glyphicon glyphicon-sort-by-attributes-alt"/>
			</div>
			<div class="importo bg-verde" style="width:28%;">
				<span class="testo"/>
				<span class="bottone-sort bottone-importo bottone-asc glyphicon glyphicon-sort-by-attributes"/>
				<span class="bottone-sort bottone-importo bottone-desc glyphicon glyphicon-sort-by-attributes-alt"/>
			</div>
		</div>
		<!--<div class="wait-cover">
			<div class="inner"></div>
		</div>-->
	</div>
</div>