.richiesta-info .modal-dialog
 {
	width: 700px;
}

.richiesta-info .wrong {
	border: 1px dotted gray;
	background-color:rgba(219,0,48,.15);
}

.richiesta-info .save-ok {
	text-align: left;
	padding: 0 30px;
}

.richiesta-info label {
	width: 265px;
}


.richiesta-info input[type="text"], 
.richiesta-info textarea {
	width: 350px;
}

.richiesta-info button.annulla {
	margin-right:18px;
}
