.row.faq {
  padding-bottom: 40px;
  min-height: 350px;
}
.row.faq .categoria {
  margin: 20px 0;
}
.row.faq .categoria button {
  min-width: 200px;
}
.row.faq .categoria .lista {
  background: linear-gradient(rgba(1, 105, 103, 0.1), rgba(255, 255, 255, 0));
  margin-top: 12px;
  border-radius: 4px;
  border: 1px solid #c0c0c0;
  overflow: hidden;
}
.row.faq .categoria .lista > .inner {
  padding-top: 20px;
  padding-bottom: 20px;
}
.row.faq .categoria .lista .elemento .domanda {
  color: #242;
  font-size: 1.1em;
}
.row.faq .categoria .lista .elemento .risposta {
  padding-bottom: 8px;
  padding-right: 30px;
}
.row.faq .categoria .lista .elemento .risposta > .inner {
  margin: 4px 0 4px 20px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px 0 10px 30px;
}
