.newsletter label {
	height: 20px;
}

.newsletter .asterisco {
	color: #db0030;
	font-size: 1.5em;
}

.newsletter .gruppo  {
	overflow: hidden;
	width:100%;
	margin-bottom:20px;
}


.newsletter .gruppo label {
	text-align: right;
	padding-right: 10px;
}



.newsletter .gruppo .valore {
	padding-left: 15px;
	text-align: left;
}

.newsletter .gruppo label {
	text-align: left;
}

.newsletter .wrong {
	border: 1px dotted gray;
	background-color: rgba(219,0,48,.15);
}
