<div class="informativa-cookies fg-bianco bg-rosso" >
	<div class="titolo">Informativa</div> 

	Questo sito utilizza cookie, anche di terze parti, per garantire una esperienza di navigazione 
	ottimale. Se vuoi saperne di più, negare il consenso a tutti o ad alcuni cookie 

	<a class="info-esterna"
		href="http://www.ferservizi.it/cms/v/index.jsp?vgnextoid=04dc72a80e50e410VgnVCM1000008916f90aRCRD"
	>clicca qui</a><br>
	Chiudendo questo banner o cliccando su "Accetta" consenti all’uso dei cookie. 
	<button class="btn btn-default">
		ACCETTA
	</button>
	<div class="glyphicon glyphicon-remove chiudi" />
</div>