.informativa-cookies {
	padding: 8px 12px;
	overflow:hidden;
	position:relative;
}

.informativa-cookies .titolo {
	font-size: 1.25em;
	font-weight:bold;
}

.informativa-cookies .info-esterna {
	font-weight: bold;
	color:white
}

.informativa-cookies button {
	float:right; 
	font-weight: bold	
}

.informativa-cookies .chiudi {
	position:absolute; 
	top:5px; 
	right:13px; 
	cursor:pointer;
}

.informativa-cookies .chiudi:hover {
	top:4px; 	
}

