.news-page {
  margin-bottom: 30px;
}
.news-page .articolo {
  background: linear-gradient(rgba(1, 105, 103, 0.1), rgba(255, 255, 255, 0));
  padding: 20px;
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
}
.news-page .articolo .intestazione {
  margin-bottom: 12px;
}
.news-page .articolo .intestazione .data {
  color: #db0030;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
  margin-right: 12px;
}
.news-page .articolo .intestazione .titolo {
  color: #016967;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
}
