<div class="vendite-news" style="width:100%">
	<h2 style="width: 100%">
		<div class="label label-primary" style="width: 100%; display:block">NEWS</div>
	</h2>

	<div class="panel panel-primary">
		<!--<div class="panel-heading" style="overflow:hidden">
			<span style="float:left">News</span>
			<span style="float:right" class="glyphicon glyphicon-duplicate"></span>
		</div>-->

		<div class="panel-body" style="padding:0">
			<div class="news-container">
				<div class="news-template  ">
					<!--<div style="overflow:hidden">
						<div class="data-articolo fg-verde" style="float:left">28-10-2016</div>
					</div>-->
					<div class="barra-titolo" style="font-weight: bold">
						<div class="data-articolo fg-bianco bg-verde"></div>
						<!--<span class="data-articolo fg-verde">28-10-2016</span>-->
						<!--<span class="data-articolo fg-bianco bg-verde" style="padding:1px 6px">28-10-2016</span>-->
						<span class="titolo">???</span>
					</div>
					<div class="contenuto fade-down-top">
						<div class="inner">
							Ferservizi, mandataria di RFI, propone in locazione spazi commerciali in 15 stazioni ferroviarie del Lazio: Roma Balduina, Campoleone, Cassino,  ...
							<a href="#" class="continua fg-verde">leggi</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-footer">
			<a href="javascript:void(0)" class="jump-news">Tutte le comunicazioni</a>
		</div>
	</div>

</div>