<div class="modal fade salva-ricerca-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Iscrizione alla Newsletter Immobiliare</h4>
			</div>
			<div class="modal-body fade-top-down" style="padding:36px">
				<div style="margin-bottom:20px">Inserisca la sua email, le invieremo settimanalmente notizie sugli immobili rispondenti alla ricerca salvata. </div>
				<div style="margin-bottom:10px">
					Email:
					<input type="text" class="mail" placeholder="inserisca la sua eMail" size="50">
					<!--<button class="btn btn-danger">Salva la ricerca</button>-->
				</div>
				<div style="font-size:.85em">
					<input type="checkbox" class="privacy"  style="margin-right:12px">
					<span> Dichiaro di aver letto l’informativa sulla Privacy e autorizzo il trattamento dei miei dati personali</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger salva">Salva Ricerca</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Annulla</button>
			</div>
		</div>
	</div>
</div>
